#faq {

    .faq_box {
        display: flex;
        justify-content: center;
        gap: 4vw;

        .faq_img {
            height: 45vw;
        }

        .faq_main {
            width: 40vw;
            height: 55vw;

            .main_title {
                font-size: 4vw;
                font-weight: 700;
                background-image: linear-gradient(96.63deg, #FFFFFF 5.78%, #B16262 82.85%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;
                margin: 3vw 0;
                text-align: center;

            }

            .item_box {
                .item {

                    margin-bottom: 1.5vw;
                    outline: 2px solid rgb(84, 41, 41);
                    border-radius: 1vw;
                    overflow: hidden;

                    .title_box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        padding: 1vw 2vw;
                        transition: .5s;


                        .title {
                            margin: 0;
                            font-size: 1.5vw;
                        }

                        .icon {
                            margin: 0;
                            width: 2vw;
                            height: 2vw;
                            transition: .5s;
                        }
                    }

                    .text_box {
                        max-height: 0vw;
                        transition: .5s;
                        max-height: 0vh;
                        overflow: hidden;


                        .text {
                            margin: 0;
                            font-size: 1.2vw;
                            padding: 1vw 2vw;
                        }

                    }
                }

                .active {
                    .title_box {
                        background-color: rgba(190, 67, 18, 0.943);
                        transition: .5s;

                        .title {}

                        .icon {
                            transform: rotate(90deg);
                            transition: .5s;
                        }
                    }

                    .text_box {
                        max-height: 0vw;
                        transition: .5s;
                        max-height: 100vh;
                        overflow: hidden;
                        background-color: rgba(121, 67, 45, 0.943);

                        .text {
                            margin: 0;
                        }

                    }
                }


            }
        }
    }

    @media screen and (max-width: 414px) {
        .faq_box {
            display: flex;
            justify-content: center;
            gap: 4vw;

            .faq_img {
                display: none;
            }

            .faq_main {
                width: 70vw;
                height: 110vw;

                .main_title {
                    font-size: 6vw;
                    margin-bottom: 5vw;
                }

                .item_box {
                    .item {
                        margin-bottom: 4vw;
                        outline: 2px solid rgb(84, 41, 41);
                        border-radius: 1vw;


                        .title_box {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            cursor: pointer;
                            padding: 1.5vw 3vw;
                            transition: .5s;

                            .title {
                                margin: 0;
                                font-size: 3.5vw;
                                font-weight: 500;
                            }

                            .icon {
                                width: 4vw;
                                height: 4vw;
                            }
                        }

                        .text_box {
                            .text {
                                margin: 0;
                                font-size: 3vw;
                                padding: 2vw 4vw;
                            }
                        }
                    }
                }
            }
        }
    }
}